* {
  box-sizing: border-box;
}

section{
  padding-top:10px;
  padding-bottom:10px;
}

.container{
  padding: 0 10px;
  margin: 0 auto;
  width: 1200px;
}

.header{
  background-color: #000000;
}

/* Style the body */
body {
  font-family: Tw Cen MT;
  margin: 0;
}

/* Style the top navigation bar */
.navbar { 
  display: flex;
  background-color: #000000;
}

.logo{
  color: #ffffff;
  font-weight: bold;
  font-family: Tw Cen MT;
  font-size: 20px;
  display: flex;
  width: 16%;
  margin-left: 6%;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #dddddd;
  color: black;
}

.hero{
  padding: 10%;
  background: #666666;
  color: white;
}

.playbutton{
  padding-left: 12%;
  display:flex;
  gap:30px;
  align-items:end;
  color:#dddddd;
  text-decoration:none;
}

.button-text{
  font-size:50px;
  margin:0;
  margin-bottom: 5px;
}
.button-small-text{
  color:#43b3d6;
  font-size: 24px;
  margin:0;
  margin-bottom: 10px;
}

.Portfolio{
  background-color: #ebebeb;
}

ul {
    padding-left: 0;
    padding-top: 0;
    list-style: none;
    display: block;
}

li {
    display: list-item;
    list-style: none;
}

.button-list {
  
  display: flex;
  column-gap: 10px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.filter-button {
    min-width: 90px;
    padding: 8px 20px;

    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #42b8dd;

    font-family: inherit;
    font-size: 16px;
    color: #42b8dd;
    background-color: #ebebeb;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
  }

  .filter-button:hover,
  .filter-button:focus {
    color: #ebebeb;
    background-color: #42b8dd;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 0;
  }

  .card{
    display: flex;
    flex-direction: column;
  }

  .card__image{
    width: 370px;
    height: 370px;  
  }

  .card__overlay > h3{
    color: #42b8dd;
  } 

  .card__overlay > p{
    color: #adadad;
  }


  .card__overlay-wrap {
    position: relative;
    overflow: hidden;
  }

  .card__overlay {
    transform: translateY(0);
    position: absolute;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    text-align: center;
    background-color: #ffffff;
    display: block;
    height: 100px;
    width: 370px;
   
  }

  .card__overlay-wrap:hover .card__overlay, .card__overlay-wrap:focus .card__overlay {
    transform: translateY(-100%);    
  }


  .our-team{
    background-color: #ffffff;
  }

  .our-team > h2{
    padding-left: 1000px;
  }

  .our-team__list{
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .our-team__item{
    width: 370px;
    position: relative;
  }

  .our-team__member-photo{
    width: 170px;
    border-radius: 100px;
  }

  .our-team__description-wrap{
    padding-left: 100px;
  }
  
  .our-team__description-wrap > h3{
    color: #42b8dd;
  } 

  .our-team__description-wrap > p{
    color: #adadad;
  }
  
  .social-list--light{
    padding-top: 10px;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: 10px;
    left: 140px;
    top: 60px;
  }

  .social-list--light > li{
    background-color: #42b8dd;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-list__link--light > img{
    width: 20px;
    height: 20px;
    z-index: 11;
  }

  .contact-us{
    background-color: #ebebeb;
    padding-bottom: 60px;
  }

  .info{
   width: 370px;
  }

  form{
    display: flex;
    align-items: flex-end;
    gap: 30px;
  }

  fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 770px;
  }

  .EmailForm, 
  .NameForm{
    padding: 20px;  
    width: 370px ;
    height: 50px;
    font-weight: bold;
    color: #363636;
    border-color: #363636;
    border-radius: 2px;
  }

  .MessageForm{
    padding: 20px;
    width: 770px;
    height: 85px;
    font-weight: bold;
    color: #363636;
    border-color: #363636;
    border-radius: 2px;
    resize: none;
  }

  .SubmitButton{
    text-align: center;
    background-color: #ffffff;
    justify-content: center;
    font-size: 20px; 
    width: 370px ;
    height: 85px;
    color: #42b8dd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
  }

  .SubmitButton:hover,
  .SubmitButton:focus {
    color: #42b8dd;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 5px rgba(0, 0, 0, 0.12);
  }

  .footer{
    padding: 20px;
    background:#252525;
        text-align:center;
  }

  .footer__section{ 
    padding-top: 50px;
    padding-bottom: 50px;
    height: 175px;
    text-align: center;
  }

  .logo__footer{
    text-align: center;
    color: #ffffff;
    margin: 0;
    font-weight: bold;
    font-family: Tw Cen MT;
    font-size: 20px;
  }
  
  .text_footer{
    color: #adadad;
    margin: 10px;
    text-align: center;
  }

  .container__footer{
    text-align: center;
    width: 280px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align:center;
  }


  /* .card {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
      width: 370px;
      height: 370px;
      background-color: #cccccc;
      padding: 0;

  }
  .card__link {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
  }
  .card__link:hover, .card__link:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .card__overlay-wrap {
    position: relative;
    overflow: hidden;
  }
  .card__overlay {
    position: absolute;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }

  .card__link:hover .card__overlay, .card__link:focus .card__overlay {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .card__desc-wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
  .card__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 2;
    color: #212121;
  }
  .card__description {
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
  } */


/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.tittle {
  color: #363636;
  font-weight: bold;
  font-family: Tw Cen MT;
  font-size: 80px;
  max-width: 370px;
  border-bottom: 7px solid #363636;
}

#info{
  color: #9a9a9a;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}




.form{width: 400px;}
.radio-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.radio-container *{
  user-select: none;
}
.radio-container .radio-btn{
  overflow: hidden;
}
.radio-container .radio-btn.nth-2{width: calc(50% - 1px);}
.radio-container .radio-btn.nth-3{width: calc(33.3333% - 1.4px);}
.radio-container .radio-btn.nth-4{width: calc(25% - 1.5px);}
.radio-container .radio-btn label{
  background: linear-gradient(to bottom, #f8f8fa 0%,#c8c8c7 100%);
  display: block;
  padding: 6px 12px;
  text-align: center;
  color: #7e7e7e;
  border-top: 1px solid #b4b5b9;
  border-bottom: 1px solid #b4b5b9;
  border-right: 1px solid #b4b5b9;
}
.radio-container .radio-btn input{display: none;}
.radio-container .radio-btn input:checked + label{
  background: linear-gradient(to bottom, #3f7add 0%,#71acf7 100%);
  color: #fff;
}
.radio-container .radio-btn:first-child label{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid #b4b5b9;
}
.radio-container .radio-btn:last-child label{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}